.cabecalho {
 background: linear-gradient(135deg, #0077cc, #00c6ff); /* DEGRADÊ AZUL PROFUNDO */
  color: #0000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.cabecalho img {
  height: 75px; 
  width: auto;
}

.logo {
  font-size: 1.8rem;
  color: #1E90FF;
  text-decoration: none;
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.1rem;
}

nav a:hover {
  color: #1E90FF;
}